.navbar h1{
    font-size:25px;
    text-transform: uppercase;
    color:red;
}
*
{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
    color:white;
    background-color:black;
}
.container{
    width: 100px;
}
.row{
    padding:10px;
    display:flex;
}
.navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:10px 0px;
    margin-top: 10px;
}
.navbar ul{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: aqua;

}
.nav ulli{
    list-style:none;
}
.nav ul li a{
    text-decoration: none;
    padding:10px 18px;
    font-family: 'Time New Roman',Times serif;
    border-radius: 5px;
}
.nav ul li a:hover{
    background-color: white;
    color: black;
}